<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhcrt.iHealthCloud.mapper.OrderDetailMapper">
	<resultMap id="BaseResultMap" type="com.yhcrt.iHealthCloud.entity.OrderDetail">
		<id column="cid" jdbcType="INTEGER" property="cid" />
		<result column="order_id" jdbcType="INTEGER" property="orderId" />
		<result column="goods_id" jdbcType="INTEGER" property="goodsId" />
		<result column="price" jdbcType="DOUBLE" property="price" />
		<result column="amount" jdbcType="INTEGER" property="amount" />
		<result column="total_pay" jdbcType="DOUBLE" property="totalPay" />
		<result column="actual_payment" jdbcType="DOUBLE" property="actualPayment" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<association property="goods" column="goods_id" select="com.yhcrt.iHealthCloud.mapper.GoodsMapper.selectByPrimaryKey"></association>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		cid, order_id, goods_id, price, amount, total_pay,
		actual_payment,
		create_time, status
	</sql>
	<select id="selectByExample" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetailExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from order_detail
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from order_detail
		where cid = #{cid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		order_detail
		where cid = #{cid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetailExample">
		delete from order_detail
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetail">
		insert into order_detail (cid,
		order_id, goods_id,
		price, amount, total_pay,
		actual_payment,
		create_time, status
		)
		values (#{cid,jdbcType=INTEGER},
		#{orderId,jdbcType=INTEGER},
		#{goodsId,jdbcType=INTEGER},
		#{price,jdbcType=DOUBLE}, #{amount,jdbcType=INTEGER},
		#{totalPay,jdbcType=DOUBLE},
		#{actualPayment,jdbcType=DOUBLE},
		#{createTime,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetail">
		insert into order_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cid != null">
				cid,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="totalPay != null">
				total_pay,
			</if>
			<if test="actualPayment != null">
				actual_payment,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cid != null">
				#{cid,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=INTEGER},
			</if>
			<if test="goodsId != null">
				#{goodsId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=INTEGER},
			</if>
			<if test="totalPay != null">
				#{totalPay,jdbcType=DOUBLE},
			</if>
			<if test="actualPayment != null">
				#{actualPayment,jdbcType=DOUBLE},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetailExample" resultType="java.lang.Long">
		select count(*) from order_detail
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<update id="setDetailStatus" parameterType="map">
		update order_detail
		set status=#{orderStatus,jdbcType=INTEGER} where
		order_id =
		#{orderId,jdbcType=INTEGER}
	</update>

	<update id="updateByExampleSelective" parameterType="map">
		update order_detail
		<set>
			<if test="record.cid != null">
				cid = #{record.cid,jdbcType=INTEGER},
			</if>
			<if test="record.orderId != null">
				order_id = #{record.orderId,jdbcType=INTEGER},
			</if>
			<if test="record.goodsId != null">
				goods_id = #{record.goodsId,jdbcType=INTEGER},
			</if>
			<if test="record.price != null">
				price = #{record.price,jdbcType=DOUBLE},
			</if>
			<if test="record.amount != null">
				amount = #{record.amount,jdbcType=INTEGER},
			</if>
			<if test="record.totalPay != null">
				total_pay = #{record.totalPay,jdbcType=DOUBLE},
			</if>
			<if test="record.actualPayment != null">
				actual_payment = #{record.actualPayment,jdbcType=DOUBLE},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update order_detail
		set cid = #{record.cid,jdbcType=INTEGER},
		order_id =
		#{record.orderId,jdbcType=INTEGER},
		goods_id =
		#{record.goodsId,jdbcType=INTEGER},
		price =
		#{record.price,jdbcType=DOUBLE},
		amount =
		#{record.amount,jdbcType=INTEGER},
		total_pay =
		#{record.totalPay,jdbcType=DOUBLE},
		actual_payment =
		#{record.actualPayment,jdbcType=DOUBLE},
		create_time =
		#{record.createTime,jdbcType=VARCHAR},
		status =
		#{record.status,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetail">
		update order_detail
		<set>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=INTEGER},
			</if>
			<if test="goodsId != null">
				goods_id = #{goodsId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=INTEGER},
			</if>
			<if test="totalPay != null">
				total_pay = #{totalPay,jdbcType=DOUBLE},
			</if>
			<if test="actualPayment != null">
				actual_payment = #{actualPayment,jdbcType=DOUBLE},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
		</set>
		where cid = #{cid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yhcrt.iHealthCloud.entity.OrderDetail">
		update
		order_detail
		set order_id = #{orderId,jdbcType=INTEGER},
		goods_id =
		#{goodsId,jdbcType=INTEGER},
		price = #{price,jdbcType=DOUBLE},
		amount =
		#{amount,jdbcType=INTEGER},
		total_pay = #{totalPay,jdbcType=DOUBLE},
		actual_payment = #{actualPayment,jdbcType=DOUBLE},
		create_time =
		#{createTime,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER}
		where cid = #{cid,jdbcType=INTEGER}
	</update>

	<select id="getOrderDetailsByOrderId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from order_detail
		where order_id = #{orderId,jdbcType=INTEGER}
	</select>

</mapper>