<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhcrt.iHealthCloud.mapper.SysVersionMapper">
	<resultMap id="BaseResultMap" type="com.yhcrt.iHealthCloud.entity.SysVersion">
		<id column="KID" jdbcType="VARCHAR" property="kid" />
		<result column="C_APP_CODE" jdbcType="VARCHAR" property="cAppCode" />
		<result column="C_VERSION_DESC" jdbcType="VARCHAR" property="cVersionDesc" />
		<result column="I_VERSION_CODE" jdbcType="INTEGER" property="iVersionCode" />
		<result column="C_UPDATE_DESC" jdbcType="VARCHAR" property="cUpdateDesc" />
		<result column="C_UPLOAD_DATE" jdbcType="VARCHAR" property="cUploadDate" />
		<result column="C_UPLOAD_USER" jdbcType="VARCHAR" property="cUploadUser" />
		<result column="C_DOWNLOAD_URL" jdbcType="VARCHAR" property="cDownloadUrl" />
		<result column="C_EXT01" jdbcType="VARCHAR" property="cExt01" />
		<result column="C_EXT02" jdbcType="VARCHAR" property="cExt02" />
		<result column="C_EXT03" jdbcType="VARCHAR" property="cExt03" />
		<result column="C_EXT04" jdbcType="VARCHAR" property="cExt04" />
		<result column="C_EXT05" jdbcType="VARCHAR" property="cExt05" />
	</resultMap>
	
	<sql id="Base_Column_List">
		KID, C_APP_CODE, C_VERSION_DESC, I_VERSION_CODE, C_UPDATE_DESC, C_UPLOAD_DATE, 
		C_UPLOAD_USER, C_DOWNLOAD_URL, C_EXT01, C_EXT02, C_EXT03, C_EXT04, C_EXT05
	</sql>
	
	<!-- 查询最新版本 -->
	<select id="queryNewVersion" parameterType="java.lang.String" resultMap="BaseResultMap">
		select KID, C_APP_CODE, C_VERSION_DESC, I_VERSION_CODE, C_DOWNLOAD_URL, C_UPDATE_DESC 
		from sys_version 
		where C_APP_CODE = #{0} ORDER BY I_VERSION_CODE DESC, C_UPLOAD_DATE DESC LIMIT 0, 1
	</select>
	
	<!-- 根据kid查询数据 -->
	<select id="queryByKid" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from sys_version where KID = #{0}
	</select>
	
	<!-- 根据kid修改数据 -->
	<update id="update" parameterType="com.yhcrt.iHealthCloud.entity.SysVersion">
    	update sys_version set C_EXT01 = #{cExt01} where KID = #{kid}
  	</update>
	
	<select id="getDescList" parameterType="java.lang.String" resultMap="BaseResultMap">
		select KID,C_APP_CODE, C_VERSION_DESC, I_VERSION_CODE, C_DOWNLOAD_URL, C_UPDATE_DESC,C_UPLOAD_DATE
		from sys_version 
		where C_APP_CODE = #{0} ORDER BY I_VERSION_CODE DESC, C_UPLOAD_DATE DESC
	</select>
	
	<select id="selectByPrimarykey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select C_APP_CODE, C_VERSION_DESC, I_VERSION_CODE, C_DOWNLOAD_URL, C_UPDATE_DESC 
		from sys_version 
		where KID = #{0} 
	</select>

</mapper>