<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>孝康通</title>
    <!-- Bootstrap -->
     <link th:href="@{/pages/mall/css/bootstrap.min.css}" rel="stylesheet">
    <style>
      .notfound { padding: 100px 0 20px; text-align: center; }
      .notfound-txt { float: left; width: 100%; text-align: center; color: #888; font-size: 13px; margin-bottom: 20px; }
      .btn-back { background-color: #14b45c; color: #fff; border: none; text-align: center; }
      .btn-back:focus { text-decoration: none; color: #fff; box-shadow: none; }
    </style>
  </head>
  <body>
    <div class="notfound col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
      <img th:src="@{/pages/mall/images/404.png}" alt="404" class="img-responsive">
    </div>
    <p class="notfound-txt">出错啦！您访问的页面不存在...</p>
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
      <a th:href="@{/h5}" class="btn-back form-control">返回首页</a>
    </div>
  </body>
</html>