/**   header  **/
.set ul.login{ float:left; width:600px; height:36px; line-height:36px;}
.set ul.login li{ float:left; width:auto; padding-right:30px;text-align:left;}
.set ul.login li .text{ width:100px; height:24px; line-height:24px; border:1px solid #e6e6e6; padding:0px 5px;}
.set ul.login li .sure{ float:left; width:60px; height:24px; background-color:#fdd000; color:#987d00; border:0px; margin-top:6px;}

/*********************************************************************  内容  ***********************************************/
/*******************************************  左  *****************************************/
.left{float:left; width:896px; margin-top:10px;}

/*************  图片切换  ***********************/
.left .ban{ float:left; width:420px; height:294px; position:relative; overflow:hidden;margin:0px auto;}
.left .ban .ban2{ width:420px; height:294px; position:relative; overflow:hidden;}
.left .ban .ban2 ul{ position:absolute; left:0; top:0;}
.left .ban .ban2 ul li{ width:420px; height:294px;}
.left .ban .ban2 ul li img{ width:420px; height:294px;}
.prev1{ position:absolute; top:120px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:120px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}

/*************  头条  ***********************/
.left .hot_box{ float:left; width:435px; height:274px; padding:10px 15px; margin-left:10px; background:url(../images/hot.png) no-repeat left top #fff;}
.left .hot_box .title{float:left;width:430px; height:40px; line-height:40px; font-size:16px; font-weight:bold; text-align:center; background:none;}
.left .hot_box .title a { font-size:15px;}
.left .hot_box .title_detail{ margin:0 auto; width:430px; height:90px; line-height:24px; text-indent:2em;}
.left .hot_box ul{ margin:10px auto;width:430px; border-top:1px solid #d3d3d3; padding-top:10px;}
.left .hot_box ul li{ float:left; width:366px; height:26px; line-height:26px;background: url(../images/dics.png) no-repeat 3px center;text-indent:15px;}
.left .hot_box ul li span{ float:right; color:#b8b6b6;}

/*************  图片  ***********************/
.left .pics{ margin:10px auto; width:896px;}
.left .pics ul{ float:left;width:896px;}
.left .pics ul li{ float:left; width:170px; height:90px; background-color:#C63; margin-left:11px;}
.left .pics ul li.first{ margin-left:0px;}

/*************  国内财经&国际财经  ***********************/
.finance { float:left; width:856px; padding:10px 20px 30px; background:#fff; margin-top:10px;}
.finance .cj_hd {  float:left; width:856px; height:48px; border-bottom:2px solid #cc0303; line-height:48px; margin-bottom:29px;}
.finance .cj_hd .cj_tit { float:left; font-size:20px; }
.finance .cj_hd .cj_more { float:right;}
.finance .cj_bd { float:left; width:856px;}
.finance .cj_bd .cj_bigpic { float:left; width:390px; height:300px; position:relative;}
.finance .cj_bd .cj_bigpic .cj_img { float:left; width:390px; height:300px;}
.finance .cj_bd .cj_bigpic .cj_img img { width:100%; height:100%;}
.finance .cj_bd .cj_bigpic .cj_tex { float:left; width:370px; height:36px; position:absolute; left:0; bottom:0; padding:0 10px; line-height:36px; background:url(../images/jy_bg.png) repeat-x 0 0; color:#fff; text-overflow:clip; overflow:hidden;}
.finance .cj_bd .cj_tex:hover { color:#62CCE4 !important;}

.finance .cj_bd .cjindex_list { float:left; width:434px; margin-left:30px;}
.finance .cj_bd .cjindex_list li { float:left; width:414px; padding-right:20px; line-height:36px; text-indent:10px; background:url(../images/dics.png) no-repeat 0 center; height:36px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}


/*************  推荐  ***********************/
.left .tuijian{ float:left; width:896px; height:333px;background-color:#fff;}
.left .tuijian .title{margin:0 auto;width:856px;height:40px;line-height:36px;position:relative;z-index:999; background:url(../images/title_bg.jpg) no-repeat left bottom; margin-top:5px;}
.left .tuijian .title span{ float:left; width:74px; text-align:center;font-size:18px; color:#272727; font-weight:bold;}
.left .tuijian ul{ margin:0px auto;width:856px;margin-top:-7px; border-top:1px solid #d3d3d3; padding-top:12px;}
.left .tuijian ul li{ float:left; width:400px; height:30px; line-height:30px;background: url(../images/dics.png) no-repeat 3px center;text-indent:15px;}
.left .tuijian ul li.m_right{ float:right;}
.left .tuijian ul li span{ float:right; color:#b8b6b6;}

/*******************************************  右  *****************************************/
.right{float: right; width:374px; margin:10px 0;background-color:#fff; height:auto; overflow:hidden;!important}


/*************  最新金融产品推荐  ***********************/
.right .top_title{ float:left; width:374px;height:40px; line-height:40px; font-size:16px; background-color:#990000; color:#fff; text-indent:10px; font-weight:bold;}
.right .bank{ float:left; padding:7px 10px;width:354px;}
.right .bank .title{ float:left; width:354px; height:40px; border-bottom:1px solid #f3f3f3; background:none;}
.right .bank .title span{ float:left; width:auto; padding-left:6px; padding-right:6px; height:39px; line-height:45px; border-bottom:2px solid #cc0303; font-size:18px; color:#272727; font-weight:bold;}
.right .bank .hot_article{ float:left; width:354px; margin:10px 0px 0;}
.right .bank .hot_article img{ float:left; width:130px; height:90px; margin-right:10px; }
.right .bank .hot_article .hot_cont{ float:left; width:200px; height:90px; font-size:12px; line-height:24px;text-align:Justify; text-justify:inter-ideograph;}
.right .bank .hot_article .hot_cont a{font-size:12px;}
.right .bank .hot_article ul{ float:left; margin-top:10px;width:340px;}
.right .bank .hot_article ul li{float:left;width:340px;height:26px;line-height:26px;background: url(../images/dics.png) no-repeat left center;text-indent:10px;}
.right .bank .hot_article ul li span{ float:right; color:#b8b6b6;}

.right .tool ul{ margin:0px auto; width:354px;sbackground-color:#fff; padding:7px 10px;height:auto; overflow:hidden;!important} 
.right .tool ul li{ float:left; width:68px; height:90px; margin:5px 15px 13px 5px; text-align:center; line-height:12px; text-indent:8px;}
.right .tool ul li a{ font-size:12px;}
.right .tool ul li img{ float:left; margin:5px;}
